option_settings:
  aws:ec2:vpc:
    VPCId: vpc-063222ae6b4704e12
    Subnets: subnet-09b3732269394a19b,subnet-07dc415d97eada0e1,subnet-052b2af593d06f70f
    ELBSubnets: subnet-09b3732269394a19b,subnet-07dc415d97eada0e1,subnet-052b2af593d06f70f
    AssociatePublicIpAddress: false
    SecurityGroups: sg-097061c324ba2cec0

  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-097061c324ba2cec0

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
